absl-py==0.9.0
appdirs==1.4.4
argcomplete==1.12.2
arrow==0.15.5
attrs==20.3.0
Babel==2.8.0
Brotli==1.0.9
cachetools==4.1.0
certifi==2020.12.5
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
colorcet==2.0.6
colorlog==4.1.0
colour==0.1.5
ConfigArgParse==1.2.3
cycler==0.10.0
decorator==4.4.2
distro==1.5.0
easygui==0.97.4
filelock==3.0.12
fire==0.3.1
Flask==1.1.2
Flask-BasicAuth==0.2.0
Flask-Compress==1.8.0
Flask-Cors==3.0.10
Flask-Sockets==0.2.1
future==0.18.2
gdown==3.10.3
gevent==20.9.0
gevent-websocket==0.10.1
geventhttpclient==1.4.4
google-auth==1.15.0
google-auth-oauthlib==0.4.1
gphoto2==2.2.1
graphviz==0.8.4
greenlet==0.4.17
grpcio==1.29.0
idna==2.9
imageio==2.9.0
importlib-metadata==2.0.0
iniconfig==1.1.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
keras2onnx==1.7.0
kiwisolver==1.2.0
locust==1.2.3
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools==8.6.0
msgpack==1.0.0
mxnet==1.6.0
networkx==2.4
numpy==1.19.5
oauthlib==3.1.0
onnx==1.7.0
onnxconverter-common==1.7.0
onnxruntime==1.4.0
opencv-python==4.2.0.34
packaging==20.8
param==1.10.1
parso==0.7.1
Pillow==7.1.2
pipx==0.16.0.0
pluggy==0.13.1
prompt-toolkit==3.0.7
protobuf==3.12.1
psutil==5.7.0
ptpython==3.0.7
py==1.10.0
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyct==0.4.8
Pygments==2.7.1
pyheif==0.4
pymediainfo==4.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyPrind==2.11.2
PyQt5==5.14.1
PyQt5-sip==12.7.1
PySocks==1.7.1
pytest==6.2.2
python-dateutil==2.8.1
pytorch-lightning==0.7.1
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.4.1
pyzmq==19.0.0
rapid-photo-downloader==0.9.22
rawkit==0.6.0
requests==2.23.0
requests-oauthlib==1.3.0
rope==0.18.0
rsa==4.0
runway-python==0.6.1
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
skl2onnx==1.7.0
sortedcontainers==2.1.0
tenacity==6.1.0
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorboardX==1.9
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile==2020.5.25
tldr==0.5
toml==0.10.1
torch==1.6.0
torchvision==0.4.2
tornado==6.0.4
tqdm==4.46.0
typing-extensions==3.7.4.3
Unidecode==1.1.2
urllib3==1.26.3
userpath==1.4.2
wcwidth==0.2.5
Werkzeug==1.0.1
youtube-dl==2020.9.20
zipp==3.4.0
zope.event==4.5.0
